[global]
fsid = {{ fsid }}
mon initial members = {{ host_mon }}
public network = 10.0.1.0/24
auth cluster required = cephx
auth service required = cephx
osd journal size = 1024
filestore xattr use omap = true
osd pool default size = 2
osd pool default min size = 1
osd pool default pg num = 64
osd pool default pgp num = 64
osd crush chooseleaf type = 1

[mon.{{ host_mon }}]
host = {{ host_mon }}
mon addr = {{ addr_mon }}:6789

[osd.0]
osd host = {{ addr_osd_0 }}

[osd.1]
osd host = {{ addr_osd_1 }}

[mds.0]
host = {{ host_mds }}
mds addr = {{ addr_mds }}:6789
mds data = /var/lib/ceph/mds/mds.0
